[Desktop Entry]
Name=LogFactor5
Comment=Graphical user interface for managing log4j log messages
Exec=logfactor5
Icon=logfactor5
Terminal=false
Type=Application
Categories=GNOME;Application;Development;X-JPackage;GTK;
